<div class="container">
  <div class="text">This website was created by Notkirito18</div>
  <div class="contact">
    <div class="flex-center"><div class="title">Contact me :</div></div>
    <div>
      <a target="_blank" href="https://www.instagram.com/djallelguergouri/">
        <img
          border="0"
          src="../../../assets/Instagram.png"
          alt="Instagram-img"
        />
      </a>
      <a target="_blank" href="https://github.com/Notkirito18">
        <img src="../../../assets/GitHub.png" alt="GitHub-img" />
      </a>
      <a target="_blank" href="https://djalel-guergouri.web.app/">
        <img src="../../../assets/website.png" alt="website-img" />
      </a>
    </div>
  </div>
</div>
