.text{
  text-align: center;
  font-size: 12pt;
  margin-bottom: 25px;
}
.title{
  font-size: 16pt;
  font-weight: 500;
  margin-right: 10px;
}
.contact{
  display: flex;
  justify-content: center;
  a{
    img{
      height: 35px;
      width: 35px;
      margin: 0px 5px;
      cursor: pointer;
      border: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .text{
    margin-bottom: 15px;
  }
  .contact{
    flex-direction: column;
  }
  .links{
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }
}
