.title{
  font-size: 20pt;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1;
}
.text{
  font-size: 12pt;
  text-align: justify;
}
.subtitle{
  font-size: 14pt;
  font-weight: 500;
  margin: 10px 0px;
}
img{
  width: 100%;
}
section{
  padding: 15px 10px;
}

@media only screen and (max-width: 600px) {
  .text {
    text-align: left;
  }
  img{
    margin: 15px 0px;
  }
  section {
    padding: 5px 0px;
  }
}
