<div class="container">
  <div class="title">WELCOME to Who Won That Game!</div>
  <div class="text">
    Who Won That Game is a quizz game about football (soccer) games from of
    famous compititions and teams.
  </div>
  <section>
    <div class="subtitle">1. Choose Mode</div>
    <div class="row">
      <div class="col-6 flex-center">
        <img src="../../../assets/game-mode.jpg" alt="" />
      </div>
      <div class="col-6">
        <div class="text">
          When you click PLAY you can choose the game mode by choosing the
          compitition you will be asked about, so if you are a big fan of UEFA
          Champions League show us how much you know about it, or if you love
          international football choose World Cup and get that best score.
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="subtitle">2. Gameplay</div>
    <div class="row">
      <div class="col-6">
        <div class="text">
          During the game, you will be presented with a fixture and you have to
          choose who won that game, if you choose correctly, you get 1 point and
          go to the next round, you guess wrong and you get a strike if you get
          3 strikes it's game over.
        </div>
      </div>
      <div class="col-6 flex-center">
        <img src="../../../assets/gameplay.jpg" alt="" />
      </div>
    </div>
  </section>
  <section>
    <div class="subtitle">3. Providing game result</div>
    <div class="row">
      <div class="col-6 flex-center">
        <img src="../../../assets/game-result.jpg" alt="" />
      </div>
      <div class="col-6">
        <div class="text">
          If you are confident that you know the result of the game, you can
          provide the game result, if you get it right you get 2 extra points,
          if you get the number of goals wrong but the result is still right you
          will get 1 point and 1 strike, if you get the number of goals wrong
          and also the result is wrong you will get 2 strikes. so be carefull
          and only use the provide game result when you are sure.
        </div>
      </div>
    </div>
  </section>
</div>
